/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap'); */
body {
  font-family: "proxima nova", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "proxima nova", sans-serif;
}

#footers #mega-footer .widget .widget-title {
  font-family: "proxima nova", sans-serif;
  font-weight: 500;
}
#footers #mega-footer .widget .uc-cal .uc-cal-event {
  font-family: "proxima nova", sans-serif;
}
#footers #mega-footer .widget .uc-cal .uc-cal-event .uc-cal-event-date .uc-cal-event-month {
  font-family: "proxima nova", sans-serif;
  font-weight: 500 !important;
}

#page #content .panel-grid .widget .uctoday-plugin .uctoday-cell-title {
  font-family: "proxima nova", sans-serif;
}
#page #content .panel-grid .panel-grid-cell .uctoday-plugin .uctoday-title-container .uctoday-cell-date {
  font-family: "proxima nova", sans-serif;
}

#page #content .entry-content .panel-layout .panel-grid .panel-grid-cell .widget .panel-heading .panel-title a {
  font-family: "proxima nova", sans-serif;
}
#page #content .entry-content .panel-layout .panel-grid .panel-grid-cell .widget.widget_dpe_fp_widget ul .hentry {
  font-weight: 500;
}
#page #content .entry-content .panel-layout .panel-grid .panel-grid-cell .widget .uc-cal.uc-listcal .uc-cal-list .uc-cal-item .uc-cal-event .uc-cal-event-date {
  font-weight: 500 !important;
}
#page #content .entry-content .panel-layout .panel-grid .panel-grid-cell .widget .uc-cal .uc-cal-event {
  font-family: "proxima nova", sans-serif !important;
}

#page-sidebar .widget .uc-cal .uc-cal-event {
  font-family: "proxima nova", sans-serif !important;
}

body.page-template-page-blank .siteorigin-panels-stretch .widget_widget_sp_image .widget_sp_image-description .cap-wrap p span {
  font-family: "proxima nova", sans-serif;
}

blockquote {
  font-family: "proxima nova", sans-serif;
}
blockquote:before, blockquote:after {
  font-family: "proxima nova", sans-serif;
}

entry-content .widget.widget_metaslider_widget .metaslider .caption-wrap .caption {
  font-family: "proxima nova", sans-serif;
}

.modal .modal-event-title {
  font-family: "proxima nova", sans-serif !important;
}
